.branches-section {
  position: relative;
  padding: 50px 20px;
  overflow: hidden;
}
.branches-content {
  position: relative;
  z-index: 2;   /* higher than overlay */
}

.branches-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(254, 254, 254, 0.6),
    rgba(0,0,0,0.4)
  );
  z-index: 1;
}
.branches-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 50;
}
.branches-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.branch-card {
  flex: 1 1 480px;
  background: rgba(255, 255, 255, 0.95);
  overflow: hidden;

  border: 2px dashed #F28A18;   /* 🔥 Hand-drawn dashed */
  border-radius: 18px 22px 20px 16px;


  transition: all 0.3s ease;
}

.branch-card:hover {
  transform: translateY(-6px);
}

.map-container {
  width: 100%;
  height: 300px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.branch-info {
  padding: 25px;
}

.branch-info h4 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #fc8201;
}

.branch-info p {
  color: #444;
  line-height: 1.7;
  font-size: 15px;
}

.branches-header {
  text-align: center;
  margin-bottom: 60px;
}

.branches-header h2 {
    margin-bottom: 10px;

  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #222; /* Dark text like Contact */
}
.branches-header span{
  color: #fc8201;
}

/* Orange underline */
.branches-header h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #F28A18;
  display: block;
  margin: 10px auto 0;
}


@media (max-width: 992px) {
  .branches-container {
    gap: 30px;
  }

  .branch-card {
    flex: 1 1 100%;
  }

  .map-container {
    height: 260px;
  }
}
@media (max-width: 768px) {
  .branches-header h2 {
    font-size: 28px;
  }
}


@media (max-width: 576px) {
  .branches-section {
    padding: 70px 15px;
  }

  .branches-header h2 {
    font-size: 28px;
  }

  .map-container {
    height: 220px;
  }

  .branch-info h4 {
    font-size: 18px;
  }

  .branch-info p {
    font-size: 14px;
  }
}

.map-link-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 600;

  background: #F28A18;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;

  transition: 0.3s ease;
}

.map-link-btn:hover {
  background: #EC600E;
  transform: translateY(-2px);
}
