/* Overlay */
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Wrapper */
.popup-wrapper {
  width: 90%;
  max-width: 1000px;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  animation: popupAnim 0.4s ease;
}

/* Left Panel */
.popup-left {
  width: 40%;
  background: #f9a602;
  padding: 40px 30px;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-left h3 {
  margin-top: 30px;
}

.contact-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-circle {
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.whatsapp {
  color: green;
}

/* Right Panel */
.popup-right {
  width: 60%;
  padding: 50px 60px;
  position: relative;
  background-color: #fdfdf8;

  /* Notebook horizontal lines */
  background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);

  background-size: 100% 42px;
}
.popup-right::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #e63946;
}



.popup-right h2 {
  text-align: center;
  margin-bottom: 25px;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 40px;
  margin-top: 20px;
  margin-left: 20px;
}

.services-grid label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  cursor: pointer;
}

.services-grid input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #f9a602;
}




/* Next Button */
.next-btn {
  margin-top: 25px;
  background: #f9a602;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: white;
  border: 2px solid #f9a602;
  color: red;
  font-size: 18px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.spiral-line {
  position: absolute;
  left: 40%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: black;
}

/* Notebook Rings */


/* Animation */
@keyframes popupAnim {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .popup-wrapper {
    flex-direction: column;
  }

  .popup-left,
  .popup-right {
    width: 100%;
  }

  .rings {
    display: none;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}
